{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>

        <svg class="modal__toggle-open icon icon-search" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Search" fill-rule="evenodd" clip-rule="evenodd" d="M13.7532 11.3503C13.5208 11.6926 13.2552 12.0147 12.9585 12.3115C12.345 12.9249 11.6168 13.4115 10.8153 13.7435C10.0138 14.0755 9.15476 14.2464 8.28724 14.2464C7.41971 14.2464 6.56068 14.0755 5.75919 13.7435C4.9577 13.4115 4.22945 12.9249 3.61602 12.3115C3.00258 11.698 2.51598 10.9698 2.18399 10.1683C1.91625 9.52191 1.7533 8.83811 1.70026 8.1426C1.80843 9.59765 2.39668 10.9835 3.38316 12.0764C4.52794 13.3447 6.11985 14.1198 7.82425 14.2387C9.52864 14.3577 11.2128 13.8112 12.5226 12.7142L12.8912 12.4056L16.5225 16.0301L12.8953 12.403L13.2237 12.0326C13.4159 11.8158 13.5926 11.5878 13.7532 11.3503ZM8.24982 7.57767e-05C10.2304 -0.00873241 12.1373 0.750654 13.5696 2.1186C15.0019 3.48655 15.8481 5.35652 15.9303 7.33542C16.0056 9.14853 15.4341 10.9237 14.3273 12.3483L19.6546 17.6756C19.7565 17.7679 19.8394 17.8794 19.8985 18.0038C19.9606 18.1347 19.995 18.2769 19.9995 18.4217C20.0041 18.5665 19.9787 18.7107 19.9249 18.8452C19.871 18.9796 19.79 19.1016 19.6869 19.2033C19.5837 19.305 19.4607 19.3842 19.3254 19.4361C19.1902 19.488 19.0457 19.5114 18.901 19.5048C18.7563 19.4982 18.6145 19.4618 18.4845 19.3978C18.3624 19.3377 18.2532 19.2545 18.1629 19.1528L12.8182 13.818C11.3611 14.8899 9.56597 15.4141 7.75106 15.2874C5.77526 15.1495 3.92987 14.251 2.6028 12.7807C1.27573 11.3105 0.570349 9.38299 0.634933 7.40344C0.699518 5.42389 1.52904 3.54647 2.94912 2.16584C4.3692 0.785201 6.26924 0.00888393 8.24982 7.57767e-05ZM8.28724 2.08538C6.81399 2.08538 5.40109 2.67063 4.35935 3.71236C3.84353 4.22818 3.43437 4.84055 3.15521 5.51449C2.87605 6.18844 2.73237 6.91077 2.73237 7.64025C2.73237 8.36973 2.87605 9.09206 3.15521 9.76601C3.43437 10.44 3.84353 11.0523 4.35935 11.5681C4.87517 12.084 5.48753 12.4931 6.16148 12.7723C6.83543 13.0514 7.55776 13.1951 8.28724 13.1951C9.01671 13.1951 9.73904 13.0514 10.413 12.7723C11.0869 12.4931 11.6993 12.084 12.2151 11.5681C13.2569 10.5264 13.8421 9.11349 13.8421 7.64025C13.8421 6.16701 13.2569 4.7541 12.2151 3.71236C11.1734 2.67063 9.76048 2.08538 8.28724 2.08538Z" fill="#130C06"/>
        </svg>

        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-reset">
              </svg>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg class="icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">
              </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type="button"
          class="search-modal__close-button modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
